<!doctype html><html lang="zh-tw">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Python 2 Tutorial 第五堂（1）使用模版系統 &lt;&lt; 前情
      
      
      目前你的 polls.urls 模組中，每個 url 都設定了 name...">

<meta property="og:locale" content="zh_TW">
<meta property="og:title" content="Python 2 Tutorial 第五堂（2）表單與 CSRF">
<meta property="og:type" content="article">
<meta property="og:url" content="https://openhome.cc/Gossip/CodeData/PythonTutorial/FormCSRF.html">
<meta property="og:image" content="https://openhome.cc/Gossip/images/caterpillar_small.jpg">
<meta property="og:site_name" content="OPENHOME.CC">
<meta property="og:description" content="Python 2 Tutorial 第五堂（1）使用模版系統 &lt;&lt; 前情
      
      
      目前你的 polls.urls 模組中，每個 url 都設定了 name...">


    <title>Python 2 Tutorial 第五堂（2）表單與 CSRF</title>

<link rel="stylesheet" href="http://openhome.cc/Gossip/css/pure-0.6.0/pure-min.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="../../css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="http://openhome.cc/Gossip/css/layouts/side-menu.css">
    <!--<![endif]-->
  

     <link rel="stylesheet" href="http://openhome.cc/Gossip/css/caterpillar.css">
     <script async src="http://openhome.cc/Gossip/google-code-prettify/run_prettify.js"></script>
<!-- 網頁層級廣告 --><script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><script>(adsbygoogle =window.adsbygoogle || []).push({google_ad_client: "ca-pub-9750319131714390",enable_page_level_ads: true });</script></head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="FormCSRF.html#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon --><span></span>
        
    </a>
    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="http://openhome.cc/Gossip/CodeData/PythonTutorial/">回 Python Tutorial</a>
            <ul class="pure-menu-list">
                <br><div class="social" style="text-align: center;"><a href="http://twitter.com/caterpillar"><img title="Twitter" alt="Twitter" src="../../images/twitter.png"></a> <a href="http://www.facebook.com/openhome.cc"><img title="Facebook" alt="Facebook" src="../../images/facebook.png"></a> </div><br><div id="search box"><script>(function() {var cx = 'partner-pub-9750319131714390:3926766884';var gcse = document.createElement('script');gcse.type = 'text/javascript';gcse.async = true;gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx=' + cx;var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(gcse, s);})();</script><gcse:searchbox-only></gcse:searchbox-only></div><br><div class="ad" style="text-align: center;"><script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 2015 新版型 160 x 600 廣告 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px"
     data-ad-client="ca-pub-9750319131714390"
     data-ad-slot="3747048883"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div></li>
            </ul>
        </div>
    </div>

    <main id="main">
        <header class="header">
            <h1>Python 2 Tutorial 第五堂（2）表單與 CSRF</h1>
        </header>

        <article class="content"><br><div class="ad-3" style="text-align: center;"><script async="" src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- 2015 新版型回應式廣告 --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9750319131714390" data-ad-slot="7104125683" data-ad-format="auto"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div> 
             
      <br>
      <br>
      目前你的 <code>polls.urls</code> 模組中，每個 <code>url</code> 都設定了 <code>name</code>：
      <br>
      <br>
      <div class="pure-g"><div class="pure-u-1"><img class="pure-img-responsive" alt="目前的 polls.urls" src="images/python-tutorial-the-5th-class-2-1.png" /></div></div>
      <br>
      <br>
      有沒有想過，如果在不同 App 的 <code>urls</code> 模組中，也有重複的 <code>name</code> 設定值該怎麼辦？實際上，你可以為每個 App 的 <code>urls</code> 模組設定不同的名稱空間（Namespace），來避免名稱衝突的問題發生，在接下來的練習 13 中，也要來看看如何建立一個簡易表單。
      <h3><span style="color: #ff0000;">練習 13：建立 URL 名稱空間與簡易表單</span></h3>
      在目前的 mysite/urls.py 檔案中，在 <code>include</code> 函式上增加 <code>namespace='polls'</code>：
      <br>
      <br>
      <div class="pure-g"><div class="pure-u-1"><img class="pure-img-responsive" alt="建立 URL 名稱空間" src="images/python-tutorial-the-5th-class-2-2.png" /></div></div>
      <br>
      <br>
      接下來，你就可以在模版中使用這個名稱空間設定，例如，修改 polls/index.html 模版：
      <br>
      <br>
      <div class="pure-g"><div class="pure-u-1"><img class="pure-img-responsive" alt="使用名稱空間" src="images/python-tutorial-the-5th-class-2-3.png" /></div></div>
      <br>
      <br>
      接著要來建立一個簡易表單了，修改 polls/detail.html，如下包括 HTML 的 <code>&lt;form&gt;</code> 標籤內容：
      <br>
      <br>
      <div class="pure-g"><div class="pure-u-1"><img class="pure-img-responsive" alt="建立簡易表單" src="images/python-tutorial-the-5th-class-2-4.png" /></div></div>
      <br>
      <br>
      在 polls/views.py 中增加以下內容與修改 <code>results</code> 及 <code>vote</code>，讓 <code>results</code> 可以根據請求的 <code>poll_id</code> 與指定的模版檔案繪製畫面，而 <code>results</code> 用以取得 <code>poll_id</code> 更新選項結果：
      <br>
      <br>
      <div class="pure-g"><div class="pure-u-1"><img class="pure-img-responsive" alt="處理表單請求" src="images/python-tutorial-the-5th-class-2-5.png" /></div></div>
      <br>
      <br>
      當然，我們必須建立 polls/results.html 模版檔案：
      <br>
      <br>
      <div class="pure-g"><div class="pure-u-1"><img class="pure-img-responsive" alt="建立模版檔案 polls/results.html" src="images/python-tutorial-the-5th-class-2-6.png" /></div></div>
      <br>
      <br>
      接著你可以試著連結網站，在上頭作些投票，你應該可以看到以下結果：
      <br>
      <br>
      <div class="pure-g"><div class="pure-u-1"><img class="pure-img-responsive" alt="練習 13 成果" src="images/python-tutorial-the-5th-class-2-7.png" /></div></div>
      <h2>簡介 CSRF</h2>
      在練習 13 中看到了個 <code>{% csrf_token %}</code>，這是什麼？CSRF 全名 Cross-Site Request Forgery，中文常翻為跨站請求攻擊或跨站偽造請求，這是利用 Web 應用程式在設計 HTTP 請求時，因為考量不周全造成的漏洞，從而進行攻擊的手法，通常是在 Web 應用程式站外的其他頁面中，包括惡意程式碼或鏈結，當使用者已通過驗證且會話（Session）未過期時，瀏覽該頁面或點選該惡意鏈結，就會造成攻擊成功的可能性。
      <br>
      <br>
      一個 CSRF 攻擊的情境範例會像是 ...
      <ol>
        <li>Bob 登入了 www.webapp.com，並且會話尚未過期。</li>
        <li>Bob 瀏覽了另一個頁面，這個頁面中包括了惡意駭客置入的 <code>&lt;img src="http://www.webapp.com/project/1/destroy"&gt;</code>，然後 Bob 的某個專案就莫名奇妙被刪除了。</li>
        <li>Bob 瀏覽的頁面是不是跟 www.webapp.com 同一個網站並不重要，也許是在另一個論譠、Blog 或特意發給 Bob 的郵件中。</li>
      </ol>
      瀏覽器遇到 <code>&lt;img&gt;</code> 時，就會自動以 GET 請求 <code>src</code> 指定的網址，就這個情境來說，攻擊要能成立的前題，是 /project/1/destroy 這樣的請求就能刪除專案，這很顯然是 URL 設計時的不良，加上應用程式沒有在重大操作之前，進一步確認使用者身份與意圖而導致。
      <br>
      <br>
      對於 HTTP 請求，有些人會有 GET 不安全，而 POST 比較安全的錯誤觀念，乍看這個例子好像是如此，實際上，也可以透過 POST 來發動類似的請求。例如：
      <pre class="prettyprint"><code lang="python">&lt;a href="http://www.harmless.com/" onclick="
  var f = document.createElement('form');
  f.style.display = 'none';
  this.parentNode.appendChild(f);
  f.method = 'POST';
  f.action = 'http://www.example.com/account/destroy';
  f.submit();
  return false;"&gt;好康在這裡&lt;/a&gt;</code></pre>
      <br>
      就算不點選，只要滑鼠略過圖也可以 ...
      <pre class="prettyprint"><code lang="python">&lt;img src="http://www.harmless.com/img" width="400" height="400" onmouseover="..." /&gt;</code></pre>
      <br>
      就算沒有任何滑鼠操作，現在只要利用一些 JavaScript 寫些 Ajax 請求，都有可能讓這類攻擊發生 ...
      <br>
      <br>
      先前談過，CSRF 是利用 Web 應用程式在設計 HTTP 請求時，因為考量不周全造成的漏洞，因此，防範方式就是認真思考 HTTP 請求方法之使用。單就 <code>&lt;form&gt;</code> 的 <code>method</code> 允許設置的 GET 與 POST 來說，至少要想一下：
      <ul>
        <li>GET 應用於<strong>等冪（Idempotent）</strong>操作，相同請求重複多次都必須有相同結果，就 GET 而言，語義上也是「取得」資訊，因此 GET 請求不建議用於改變應用程式狀態。</li>
        <li>POST 應用於<strong>非等冪</strong>操作，同樣請求重複多次，可能會產生不同結果，也就是會改變應用程式狀態。</li>
      </ul>
      （實際上要考量的不只有等幂性，還有請求方法是否安全（Safe），進一步地，在 REST 架構設計下，還有更多的 HTTP 請求方法（像是 PUT、DELETE 等）考量，可參考 <a

        href="../../Programmer/HttpMethod.html">重新認識HTTP請求方法</a>。）
      如果 GET 確實地應用於等冪操作，對於非 GET 請求，通常會用個安全代碼，在 Django 中，這可由 <code>{% csrf_token %}</code> 來產生：<br>
      <br>
      &nbsp;<div class="pure-g"><div class="pure-u-1"><img class="pure-img-responsive" alt="避免跨站請求攻擊" src="images/python-tutorial-the-5th-class-2-8.png" /></div></div>
      <br>
      <br>
      當你瀏覽表單時，<code>{% csrf_token %}</code> 會產生隱藏欄位，當中包括了一組安全代碼，例如：
      <br>
      <br>
      <div class="pure-g"><div class="pure-u-1"><img class="pure-img-responsive" alt="自動產生的隱藏欄位與安全代碼" src="images/python-tutorial-the-5th-class-2-9.png" /></div></div>
      <br>
      <br>
      Django 應用程式接受請求時，必須同時在請求中找到這組安全代碼，從而確認請求是來自於同一站上的表單。
      <br>
      <br>
      （這個例子並不單只是如何防範 CSRF，主要想表達的是，安全其實是現代設計應用程式時應主動納入的考量，現在有不少框架也將安全納為特色之一，讓開發者不用煩惱安全防護實作時的枝微末節。）
      <br>
      <br><br><br><div class="ad336-280" style="text-align: center;"><script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- 2015 新版型廣告 336 x 280 --><ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-9750319131714390" data-ad-slot="9976409681"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div><br><div class="recommend" style="text-align: center;"><hr><script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- 自動大小回應相符內容 --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9750319131714390" data-ad-slot="4953478487" data-ad-format="autorelaxed"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div></article></main></div></body>
<script src="http://openhome.cc/Gossip/js/ui.js"></script>
</html>
<div class="analytics"><script async src="https://www.googletagmanager.com/gtag/js?id=G-QVQQYFSC8J"></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-QVQQYFSC8J');</script></div>
