<!doctype html><html lang="zh-tw">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Reactive 的 WebFlux，比較適合 REST 風格、非同步的應用程式，如果是個新專案，從頭開始就朝著這方向前進，要適切 WebFlux 的模型假設應該會比較順利一些。
然而，傳統的 Web...">

    <meta property="og:locale" content="zh_TW">
    <meta property="og:title" content="趣改 gossip（一）">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://openhome.cc/Gossip/Spring/ReactiveGossip1.html">
    <meta property="og:image" content="https://openhome.cc/Gossip/images/caterpillar_small.jpg">
    <meta property="og:site_name" content="OPENHOME.CC">
    <meta property="og:description" content="Reactive 的 WebFlux，比較適合 REST 風格、非同步的應用程式，如果是個新專案，從頭開始就朝著這方向前進，要適切 WebFlux 的模型假設應該會比較順利一些。
然而，傳統的 Web...">

    <title>趣改 gossip（一）</title>

    <link rel="stylesheet" href="../css/pure-0.6.0/pure-min.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="../css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="../css/layouts/side-menu.css">
    <!--<![endif]-->
  

     <link rel="stylesheet" href="../css/caterpillar.css">
     <script async src="../google-code-prettify/run_prettify.js"></script>
     <!-- 網頁層級廣告 --><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><script>(adsbygoogle =window.adsbygoogle || []).push({google_ad_client: "ca-pub-9750319131714390",enable_page_level_ads: true });</script></head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="ReactiveGossip1.html#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="index.html">回 Spring</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><br><div class="social" style="text-align: center;"><a href="http://twitter.com/caterpillar"><img title="Twitter" alt="Twitter" src="../images/twitter.png"></a> <a href="http://www.facebook.com/openhome.cc"><img title="Facebook" alt="Facebook" src="../images/facebook.png"></a></div><br> <div id="search box"><script>(function() {var cx = 'partner-pub-9750319131714390:3926766884';var gcse = document.createElement('script');gcse.type = 'text/javascript';gcse.async = true;gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx=' + cx;var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(gcse, s);})();</script><gcse:searchbox-only></gcse:searchbox-only></div><br><div class="ad" style="text-align: center;"><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 2015 新版型 160 x 600 廣告 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px"
     data-ad-client="ca-pub-9750319131714390"
     data-ad-slot="3747048883"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div></li>
            </ul>
        </div>
    </div>

    <main id="main">
        <header class="header">
            <h1>趣改 gossip（一）</h1>
        </header>

        <article class="content">
            <br><div class="ad-3" style="text-align: center;"><script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- 2015 新版型回應式廣告 --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9750319131714390" data-ad-slot="7104125683" data-ad-format="auto"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div> 
            
            <p>Reactive 的 WebFlux，比較適合 REST 風格、非同步的應用程式，如果是個新專案，從頭開始就朝著這方向前進，要適切 WebFlux 的模型假設應該會比較順利一些。</p>
<p>然而，傳統的 Web 應用程式呢？例如，隨著這系列文件一路發展下來的 gossip 專案，並不是 REST 風格，而且是基於同步的概念，就沒機會套上 WebFlux 嗎？這是個有趣也頗有挑戰性的題目，或許也比較適合既有的專案生態，特意來做做看，可以比較 Spring MVC 與 WebFlux 的不同，利用這簡單的專案轉換，也有利於評估日後是否採用 WebFlux。</p>
<p>當然，雖說 WebFlux 可以運用 Spring MVC 的註解模型，不過 gossip 專案發展到〈<a href="GossipDataJdbc.html">套用 Spring Data JDBC</a>〉中的成果，也是費了一番功夫，這也就是說，如果對 Spring MVC 根本就不熟，那麼轉換會遇上更多的困難，相反地，如果專案本身已經適當運用了 Spring MVC，轉換時就可以專注在 Reactive 相關的 API 銜接了。</p>
<p>這邊就從〈<a href="GossipDataJdbc.html">套用 Spring Data JDBC</a>〉的 <a href="https://github.com/JustinSDK/Spring5Tutorial/tree/master/labs/solutions/Boot/BootDataJDBC/gossip">gossip</a> 成果來轉換，首先就是改一下 build.gradle，把 web 改為 webflux：</p>
<pre class="prettyprint"><code lang="java">implementation('org.springframework.boot:spring-boot-starter-webflux')
</code></pre>
<p>既然 WebFlux 可以運用 Spring MVC 的註解模型，就先假設那些 <code>@Controller</code> 等的部份都可以運作吧！因此就先來想辦法解決 Security 的部份，首先，頁面防護的部份有點大同小異：</p>
<pre class="prettyprint"><code lang="java">@Bean
public SecurityWebFilterChain securitygWebFilterChain(ServerHttpSecurity http) {
    ServerRedirectStrategy redirectStrategy = new DefaultServerRedirectStrategy();

    RedirectServerLogoutSuccessHandler logoutSuccessHandler = new RedirectServerLogoutSuccessHandler();
    logoutSuccessHandler.setLogoutSuccessUrl(URI.create("/?logout"));

    return http
             .authorizeExchange()
                 .pathMatchers("/member", "/new_message", "/del_message", "/logout").hasRole("MEMBER")
             .anyExchange().permitAll()
             .and()
             .formLogin()
                 .loginPage("/")
                     .authenticationSuccessHandler(new RedirectServerAuthenticationSuccessHandler("/member"))
                     .authenticationFailureHandler((webFilterExchange, ex) -&gt; {
                         ServerWebExchange webExchange = webFilterExchange.getExchange();
                         return webExchange
                                  .getFormData()
                                  .map(formData -&gt; URI.create(String.format("/?username=%s&amp;error", formData.getFirst("username"))))
                                  .flatMap(uri -&gt; redirectStrategy.sendRedirect(webExchange, uri));
                     })
             .and()
                 .logout()
                     .logoutUrl("/logout")
                     .logoutSuccessHandler(logoutSuccessHandler)
             .and().csrf().disable()
             .build();
}
</code></pre>
<p>要注意的地方在於，<code>loginPage</code> 設定的路徑，也相當於設定了非 Reactive 版本中 <code>loginProcessingUrl</code>（因為我也找不到有哪個方法可以另外設定），在登入、登出相關的處理器，有興趣可以自己查看一下 API 文件，它們都是 Reactive 的版本，也就是 <code>ServerAuthenticationSuccessHandler</code>、<code>ServerAuthenticationFailureHandler</code> 的實作類別。</p>
<p>因為不使用 Servlet API 了，如果你要取得請求、回應、表單等資訊，在 WebFlux 中是透過 <code>ServerWebExchange</code>，例如，表單資訊可以從 <code>getFormData</code> 取得，而傳回型態是個 <code>Mono&lt;MultiValueMap&lt;String, String&gt;&gt;</code>，因為呼叫 <code>ServerAuthenticationFailureHandler</code> 的方法 <code>onAuthenticationFailure</code> 時，必須傳回 <code>Mono&lt;Void&gt;</code>，這就用到了 <code>map</code>、<code>flatMap</code> 等來轉換。</p>
<p>若要使用 JDBC 來做驗證，Reactive 版本中並沒有〈<a href="GossipWithJdbcAuth.html">套用 jdbcAuthentication</a>〉裏預設好的策略，這無妨，自行提供 Reactive 版本的 <code>ReactiveUserDetailsService</code> 與 <code>ReactiveAuthenticationManager</code> 就是了：</p>
<pre class="prettyprint"><code lang="java">@Bean
public ReactiveUserDetailsService userDetailsService(AccountDAO accountDAO, Scheduler scheduler) {
    return username -&gt; {
        return Mono.defer(() -&gt; {
            return Mono.justOrEmpty(accountDAO.accountByUsername(username))
                .map(acct -&gt; {
                    return User.withUsername(username)
                               .password(acct.getPassword())
                               .roles("MEMBER")
                               .build();
                });

        }).subscribeOn(scheduler);
    };
}    

@Bean
public ReactiveAuthenticationManager authenticationManager(ReactiveUserDetailsService userDetailsService, PasswordEncoder passwordEncoder) {
    UserDetailsRepositoryReactiveAuthenticationManager manager = new UserDetailsRepositoryReactiveAuthenticationManager(userDetailsService);
    manager.setPasswordEncoder(passwordEncoder);
    return manager;
}    

@Bean 
public Scheduler scheduler() {
    return Schedulers.elastic();
}
</code></pre>
<p>基本上，這麼設定完成後，就可以先啟動應用程式看看，應該可以正常看到首頁，也可以進行登入了，不過，登出時，必須得用 POST 來請求，因此可以修改一下 member.html 中登出的頁面片段，改用表單來發送請求（懂 JavaScript 的話，用 Fetch API 之類的也可以）：</p>
<pre class="prettyprint"><code lang="java">...
&lt;div class='leftPanel'&gt;
    &lt;p&gt;&lt;img src='images/caterpillar.jpg' alt='Gossip 微網誌' /&gt;&lt;/p&gt;
    &lt;p&gt;歡迎您，&lt;span sec:authentication="name"&gt;User&lt;/span&gt;&lt;/p&gt;
    &lt;form method='post' action='/logout'&gt;
        &lt;button type='submit'&gt;登出&lt;/button&gt;
    &lt;/form&gt;
&lt;/div&gt;
...
</code></pre>
<p>登入登出沒問題了，試著新增一下訊息會發現一直找不到 <code>blabla</code> 請求參數，這是因為 WebFlux 中的 <code>@RequestParam</code>，只能用來擷取 URL 上附的請求參數，POST 的請求參數不附在 URL，必須透過 <code>ServerWebExchange</code> 的 <code>getFormData</code> 來取得，例如，<code>MemberController</code> 中，被 <code>@PostMapping</code> 標註的處理器，可以做以下的修改：</p>
<pre class="prettyprint"><code lang="java">package cc.openhome.controller;

...略

@Controller
public class MemberController {

    ...略

    @PostMapping("new_message")
    protected String newMessage(
            ServerWebExchange webExchange, 
            Principal principal, 
            Model model)  {
        String blabla = param(webExchange, "blabla");
        if(blabla.length() == 0) {
            return REDIRECT_MEMBER_PATH;
        }        

        String username = principal.getName();
        if(blabla.length() &lt;= 140) {
            userService.addMessage(username, blabla);
            return REDIRECT_MEMBER_PATH;
        }
        else {
            model.addAttribute("blabla", blabla);
            model.addAttribute("messages", userService.messages(username));
            return MEMBER_PATH;
        }
    } 


    @PostMapping("del_message")
    protected String delMessage(
            ServerWebExchange webExchange, 
            Principal principal) {

        String millis = param(webExchange, "millis");

        if(millis != null) {
            userService.deleteMessage(principal.getName(), millis);
        }
        return REDIRECT_MEMBER_PATH;
    }   

    private String param(ServerWebExchange webExchange, String paramName) {
        return webExchange.getFormData().block().getFirst(paramName);
    }
}
</code></pre>
<p>因為 <code>getFormData</code> 傳回型態是 <code>Mono&lt;MultiValueMap&lt;String, String&gt;&gt;</code>，目前控制器還是同步風格的程式碼居多，若暫時不想大改程式，直接呼叫 <code>block</code> 方法，就可以用同步風格來取得想要的資料，當然，這只是為了讓應用程式先能運作，在 WebFlux 運用阻斷風格，並沒辦法發揮 WebFlux 高效處理的真正益處。</p>
<p>另外，在 Thymeleaf 模版部份，也會有 POST 的請求參數不附在 URL，WebFlux 就不理會 <code>param.xxx</code> 的問題，因此，上頭將 <code>blabla</code> 請求參數設為屬性範圍，而 member.html 中改為取屬性，而不是 <code>param.blabla</code>：</p>
<pre class="prettyprint"><code lang="java">&lt;form method='post' action='new_message'&gt;
    分享新鮮事...&lt;br&gt;

    &lt;span th:if="${blabla != null}"&gt;訊息要 140 字以內&lt;/span&gt;&lt;br&gt;

    &lt;textarea cols='60' rows='4' name='blabla' th:text="${blabla}"&gt;Blablablabla...&lt;/textarea&gt;

    &lt;br&gt;
    &lt;button type='submit'&gt;送出&lt;/button&gt;
&lt;/form&gt;
</code></pre>
<p><code>AccountController</code> 中被 <code>@PostMapping</code> 標註的處理器，也得做對應的修改，這邊就不列出了；現在還有個地方必須得修改，因為我們改變了 <code>MemberController</code> 中 <code>newMessage</code> 的參數，還記得有個過濾輸入訊息的 <code>HtmlSanitizer</code> 嗎？為了簡化範例，當時參數順序是寫死的，因此也得做點修改才行：</p>
<pre class="prettyprint"><code lang="java">package cc.openhome.aspect;

...

@Component
@Aspect
public class HtmlSanitizer {
    @Autowired
    private PolicyFactory policy;

    @Around("execution(* cc.openhome.controller.MemberController.newMessage(..))")
    public Object around(ProceedingJoinPoint proceedingJoinPoint) throws Throwable {
        Object[] args = proceedingJoinPoint.getArgs();
        args[0] = new SanitizedServerWebExchange((ServerWebExchange) args[0]);;
        return proceedingJoinPoint.proceed(args);
    }

    class SanitizedServerWebExchange extends ServerWebExchangeDecorator {
        public SanitizedServerWebExchange(ServerWebExchange origin) {
            super(origin);
        }

        @Override
        public Mono&lt;MultiValueMap&lt;String, String&gt;&gt; getFormData() {
            ServerWebExchange origin = this.getDelegate();
            return new Mono&lt;MultiValueMap&lt;String, String&gt;&gt;() {
                @Override
                public void subscribe(CoreSubscriber&lt;? super MultiValueMap&lt;String, String&gt;&gt; actual) {
                    origin.getFormData().subscribe(actual);
                }

                @Override
                public MultiValueMap&lt;String, String&gt; block() {
                    MultiValueMap&lt;String, String&gt; multiValueMap = origin.getFormData().block();
                    multiValueMap.computeIfPresent("blabla", (param, values) -&gt; {
                         values.set(0, policy.sanitize(values.get(0)));
                         return values;
                    });
                    return multiValueMap;
                }
            };
        }   
    }
}
</code></pre>
<p>在這邊有點技巧性，為了能介入取得表單資料的過程，繼承 <code>ServerWebExchangeDecorator</code>，定義了一個 <code>SanitizedServerWebExchange</code>，然後重新定義了 <code>getFormData</code> 方法，傳回自定義的 <code>Mono</code> 實作，目的是在呼叫 <code>block</code> 方法時，傳回的 <code>MultiValueMap</code> 會是過濾後的結果。</p>
<p>那麼為什麼不直接 <code>origin.getFormData().map(...)</code> 來傳回過濾後的結果呢？這會發生以下的錯誤：</p>
<pre class="prettyprint"><code lang="java">"block()/blockFirst()/blockLast() are blocking, which is not supported in thread reactor-http-nio-3"
</code></pre>
<p>詳情跟 Netty 執行緒處理細節有關，這麼做的話，會在 Netty 配給的執行緒上進行過濾操作，然而，Netty 的執行緒是不允許阻斷的，為了繞過這個問題，只能暫時用上頭的方式 workaround 過去，實際上若是都採用 Reactive 風格的話，可以有個更簡單的解法。</p>
<p>總之，修改完成後，重新啟動應用程式，應該就能常運作了。</p>
<p>你可以在 <a href="https://github.com/JustinSDK/Spring5Tutorial/tree/master/labs/solutions/WebFlux/ReactiveGossip1/gossip">gossip</a> 找到以上的範例專案，當然，可以的話，再進一步 Reactive 風格一些，這在下一篇文件再來看看怎麼改。</p>

            
           <br><br><div class="ad336-280" style="text-align: center;"><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- 2015 新版型廣告 336 x 280 --><ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-9750319131714390" data-ad-slot="9976409681"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div><br><div class="recommend" style="text-align: center;"><hr><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- 自動大小回應相符內容 --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9750319131714390" data-ad-slot="4953478487" data-ad-format="autorelaxed"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div>
        </article>
    </main>
</div></body>
</html>
<script src="../js/ui.js"></script>
<div class="analytics"><script async src="https://www.googletagmanager.com/gtag/js?id=G-QVQQYFSC8J"></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-QVQQYFSC8J');</script></div>
